Source/PathFinder2D.Core/bin/*
Source/PathFinder2D.Core/obj/*
Source/PathFinder2D.UnitTests/bin/*
Source/PathFinder2D.UnitTests/obj/*
Source/PathFinder2D.Unity/bin/*
Source/PathFinder2D.Unity/obj/*

*.suo
*.DotSettings.user